app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
app/config/deploy.rb
behat.yml

www/bundles/*
www/css/*
www/js/*
www/assets/compiled/*
www/media/*
www/cgi-bin/*

bin/behat
bin/doctrine*
bin/phpspec
bin/webunit
bin/phpcrodm
bin/phpcrodm.php
bin/jackalope
vendor/*
