app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
app/config/deploy.rb
behat.yml

www/bundles/*
www/css/*
www/js/*
www/assets/compiled/*
www/media/*

bin/behat
bin/doctrine*
bin/phpspec
bin/webunit
bin/phpcrodm
bin/phpcrodm.php
bin/jackalope
vendor/*

www/cgi-bin/*
archived/*
ftp/*
logs/*
Maildir/*
.backups
.bash_history
.bashrc
.cache/*
.gem/*
.gemrc
.gems/*
.htaccess
.profile
archived/
ftp
logs/*
