{# src/Sylius/Bundle/WebBundle/Resources/views/Backend/Event/create.html.twig #}
<form action="{{ path('ktsport_backend_event_create') }}" method="post">
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	<input type="submit" />
</form>