{# src/KTSport/WebBundle/Resources/views/Default/footer.html.twig #}

<!-- ************ PIE DE PÃGINA *************** -->
<footer>
	<div class="row collapse">
		<div class="large-12 columns show-for-medium-down">
			<h5>Redes Sociales</h5>
		</div>
		<!-- Carga Facebook JavaScript SDK-->
		<div id="fb-root"></div>
		<div class="large-4 small-4 columns facebook">
			<h5 class="hide-for-medium-down">facebook</h5>
			<div>
				<iframe
					class="hide-for-medium-down"
					src="
						//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fktsport.kttape&amp;
						width=300&amp;
						height=590&amp;
						show_faces=true&amp;
						colorscheme=dark&amp;
						stream=true&amp;
						show_border=false&amp;
						header=true"
					scrolling="no"
					frameborder="0"
					style="border:none; overflow:hidden; width:300px; height:590px;"
					allowTransparency="true">
				</iframe>
			</div>
			<iframe
				class="show-for-medium-down"
				src = "
					//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2FKTSPORT.ES&amp;
					send=false&amp;
					layout=button_count&amp;
					width=300&amp;
					show_faces=false&amp;
					font&amp;
					colorscheme=dark&amp;
					action=like&amp;
					height=21"
					scrolling="no"
					frameborder="0"
					style="border:none; overflow:hidden; width:300px; height:21px;"
					allowTransparency="true">
			</iframe>
		</div>

		<!-- Carga Twitter Timeline -->
		<div class="large-4 small-4 columns twitter">
			<h5 class="hide-for-medium-down">Twitt<span>e</span>r</h5>
			<div class="hide-for-medium-down">
				<a href="https://twitter.com/KTSPORTES" class="twitter-timeline" data-widget-id="332810399328116737" title="Tweets por @KTSPORTES" height="595">
					Tweets por @KTSPORTES
				</a>
			</div>
			<div class="show-for-medium-down">
				<a href="https://twitter.com/KTSPORTES" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="small" data-show-screen-name="false" title="Seguir en Twitter a @KTSPORTES">
					Seguir a @KTSPORTES
				</a>
			</div>
		</div>

		<!-- Carga Instagram Timeline -->
		<div class="large-4 small-4 columns instagram">
			<h5 class="hide-for-medium-down">Instagram</h5>
			<!-- SnapWidget -->
			<!-- Media Screen Big -->
			<iframe
				class="hide-for-medium-down"
				src="http://snapwidget.com/in/?u=a3RzcG9ydHxpbnwxMzV8Mnw0fHx5ZXN8NXxub25l"
				allowTransparency="true"
				frameborder="0"
				scrolling="no" >
			</iframe>
			<!-- Media Screen Small -->
			<iframe
				class="show-for-medium-down"
				src="http://snapwidget.com/in/?u=a3RzcG9ydHxpbnwxMDB8MXwxfHx5ZXN8NXxub25l"
				allowTransparency="true"
				frameborder="0"
				scrolling="no" >
			</iframe>
		</div>
		<div class="large-12 columns rights">
			KTSport, {{ "now"|date("Y") }} todos los derechos reservados
			&middot; <a href="{{ path('ktsport_disclaimer') }}" target="_blank" title="{{ 'sylius.frontend.disclaimer.self'|trans }}">
				{{ 'sylius.frontend.disclaimer.self'|trans }}
			</a>
			&middot; Sitio web realizado por
			<a href="mailto:jromeosalazar@gmail.com" title="mailto:jromeosalazar@gmail.com">
				99CodeLines 2.0 Works
			</a>
		</div>
	</div>
</footer>