{# src/KTSport/WebBundle/Resources/views/Default/footer.html.twig #}

<!-- ************ PIE DE PÃGINA *************** -->
<footer>
	<div class="row collapse">
		<div class="large-12 columns show-for-medium-down">
			<h5>Redes Sociales</h5>
		</div>
		<!-- Carga Facebook JavaScript SDK-->
		<div id="fb-root"></div>
		<div class="large-4 small-4 columns facebook">
			<h5 class="hide-for-medium-down">facebook</h5>
			<!-- Like Box -->
			<div
				class="fb-like-box hide-for-medium-down"
				data-href="https://www.facebook.com/KTSPORT.ES"
				data-width="300"
				data-height="590"
				data-colorscheme="dark"
				data-show-faces="true"
				data-header="true" data-stream="false"
				data-show-border="true">
			</div>

			<!-- Like Button -->
			<div
				class="fb-like show-for-medium-down"
				data-href="https://www.facebook.com/KTSPORT.ES"
				data-width="300"
				data-layout="standard"
				data-action="like"
				data-show-faces="true"
				data-share="true">
			</div>
		</div>

		<!-- Carga Twitter Timeline -->
		<div class="large-4 small-4 columns twitter">
			<h5 class="hide-for-medium-down">Twitt<span>e</span>r</h5>
			<div class="hide-for-medium-down">
				<a href="https://twitter.com/KTSPORTES" class="twitter-timeline" data-widget-id="492200304121614336" title="Tweets por @KTSPORTES" height="595">
					Tweets por @KTSPORTES
				</a>
			</div>
			<div class="show-for-medium-down">
				<a href="https://twitter.com/KTSPORTES" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="small" data-show-screen-name="false" title="Seguir en Twitter a @KTSPORTES">
					Seguir a @KTSPORTES
				</a>
			</div>
		</div>

		<!-- Carga Instagram Timeline -->
		<div class="large-4 small-4 columns instagram">
			<h5 class="hide-for-medium-down">Instagram</h5>
			<!-- SnapWidget -->
			<!-- Media Screen Big -->
			<iframe
				class="hide-for-medium-down"
				src="http://snapwidget.com/in/?u=a3RzcG9ydHxpbnwxMzV8Mnw0fHx5ZXN8NXxub25l"
				allowTransparency="true"
				frameborder="0"
				scrolling="no" >
			</iframe>
			<!-- Media Screen Small -->
			<iframe
				class="show-for-medium-down"
				src="http://snapwidget.com/in/?u=a3RzcG9ydHxpbnwxMDB8MXwxfHx5ZXN8NXxub25l"
				allowTransparency="true"
				frameborder="0"
				scrolling="no" >
			</iframe>
		</div>
		<div class="large-12 columns rights">
			KTSport, {{ "now"|date("Y") }} todos los derechos reservados
			&middot; <a href="{{ path('ktsport_disclaimer') }}" target="_blank" title="{{ 'sylius.frontend.disclaimer.self'|trans }}">
				{{ 'sylius.frontend.disclaimer.self'|trans }}
			</a>
			&middot; Sitio web realizado por
			<a href="mailto:jromeosalazar@gmail.com" title="mailto:jromeosalazar@gmail.com">
				99CodeLines 2.0 Works
			</a>
		</div>
	</div>
</footer>