{# src/Sylius/Bundle/WebBundle/Resources/views/Backend/Dealer/create.html.twig #}
<form action="{{ path('ktsport_backend_dealer_create') }}" method="post">
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	<input type="submit" />
</form>